.card {
    background-color: var(--dark-bg);
    padding: 23px 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(54, 78, 126, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-2px);
}

.title {
    margin: 0 0 8px 0;
    font-size: 15px;
    color: var(--text-main);
}

.subtasks {
    margin: 0;
    font-size: 12px;
    color: var(--medium-grey);
    font-weight: bold;
}