.app-header {
    display: flex;
    height: 97px;
    background-color: var(--dark-bg);
    border-bottom: 1px solid var(--lines-dark);
}

.logo-container {
    width: var(--sidebar-width);
    height: var(--header-height);
    padding-left: var(--sidebar-padding-x);
    padding-right: var(--sidebar-padding-x);
    box-sizing: border-box;
    border-right: 1px solid var(--lines-dark);
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo-text {
    font-size: 30px;
    font-weight: 800;
    color: var(--text-main);
}

.header-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.board-name {
    font-size: 24px;
    color: var(--text-main);
    margin: 0;
}

.add-btn {
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 15px 24px;
    border-radius: 24px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.add-btn:hover {
    background: var(--primary-hover);
}