.button-close {
    font-weight: 500;
    max-width: 50px;
    float: right;
    margin-top: 10px;
}

.dialog-title {
    padding-right: 10px;
}

.button-remove-subtask {
    border-radius: 20px;
    font-weight: 500;
    max-width: 50px;
    margin-left: 5px;
}

mat-form-field {
    width: 100%;
}

.subtasks {
    display: flex; 
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.button-new-subtask {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.input-height {
    height: 56px;
}