<mat-toolbar>
    <button mat-button [ngClass]="{'visible': !(displayVisibilityIcon$ | async)}" (click)="displayDrawer()" >
        <span class="material-icons">
            visibility
        </span>
    </button>
    <span>Platform Launch</span>
    <span class="spacer"></span>
    <button 
        mat-flat-button 
        color="primary" 
        class="button-task"
        (click)="addNewTask()"
    >+Add New Task
    </button>
</mat-toolbar>

<div class="board" *ngIf="this.kanbanBoards$ | async">
    <app-column-content 
        *ngFor="let column of columns" 
        [columnContent]="column"
        (cardId)="openTask($event)"
    >
    </app-column-content>
    <div class="columns">
        <div class="new-column">
            <h1>+ New column</h1>
        </div>
    </div>
</div>