.board-container {
    height: 100%;
    overflow: auto;
    padding: 24px;
    background-color: var(--very-dark-bg);
}

.columns-wrapper {
    display: flex;
    gap: 24px;
    height: 100%;
}

.column {
    min-width: 280px;
    width: 280px;
    display: flex;
    flex-direction: column;
}

.column-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
}

.task-count {
    color: var(--medium-grey);
    font-weight: bold;
    font-size: 12px;
}

.task-list {
    min-height: 100px;
    height: 100%;
}

.task-wrapper {
    margin-bottom: 20px;
}

.custom-placeholder {
    background: rgba(255, 255, 255, 0.05);
    border: 1px dashed var(--medium-grey);
    border-radius: 8px;
    min-height: 80px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}