<div class="columns">
    <div class="column-title">
        <span class="material-icons" [appIconColor]=columnContent?.iconColor!>fiber_manual_record</span>
        <h3 class="title-spacing">{{ columnContent?.title }} ({{ tasks.length }})</h3>
    </div>
    <div *ngIf="this.kanbanBoards$ | async">
        <div 
            cdkDropList
            #{{columnContent?.title}}="cdkDropList"
            id="{{columnContent?.title}}"
            [cdkDropListData]="tasks"
            (cdkDropListDropped)="drop($event)"
            class="column-content"
            [cdkDropListConnectedTo]="columTitles"
        >
            <div *ngFor="let task of tasks" >
                <app-card-content 
                    [task]="task"
                    (cardId)="sendCardId($event)"
                    cdkDrag
                >
                </app-card-content>
            </div>
        </div>
    </div>
</div>