<div class="contenedor">
    <mat-toolbar>
        <span class="material-icons">equalizer</span>
        <span>kanban</span>
    </mat-toolbar>

    <div class="list-section">
        <span class="list-title">ALL BOARDS (3)</span>
        <mat-action-list>
            <button mat-list-item class="list-element active-white" [ngClass]="{'active-dark': isDarkTheme}" >
                <div class="inner-list">
                    <span class="material-icons">list_alt</span>
                    <p class="center-list-item">Platform Launch</p>
                </div>
            </button>
            <button mat-list-item class="list-element">
                <div class="inner-list">
                    <span class="material-icons">list_alt</span>
                    <p class="center-list-item">Marketing Plan</p>
                </div>
            </button>
            <button mat-list-item class="list-element">
                <div class="inner-list">
                    <span class="material-icons">list_alt</span>
                    <p class="center-list-item">Roadmap</p>
                </div>
            </button>
            <button mat-list-item class="list-element">
                <div class="inner-list">
                    <span class="material-icons">list_alt</span>
                    <p class="center-list-item">+ Create New Board</p>
                </div>
            </button>
        </mat-action-list>
    </div>

    <div class="bottom-section">
        <div class="dark-mode" [ngClass]="{'background': isDarkTheme}">
            <span class="material-icons">
                light_mode
            </span>
            <mat-slide-toggle [(ngModel)]="isDarkTheme" (change)="sendThemeDarkMode()">
            </mat-slide-toggle>
            <span class="material-icons">
                dark_mode
            </span>
        </div>

        <div class="hide-sidebar">
            <button mat-button (click)="hideDrawer()">
                <span class="material-icons" style="margin-right: 15px;">
                    visibility_off
                </span>
                Hide Sidebar
            </button>
            
        </div>
    </div>

</div>